.cardSize {
  width: fit-content;
  max-width: 20rem;
}
.cardContent {
  margin: 1.2rem;
}

.bg-img {
  background: url(./img/bgimg.jpeg) no-repeat;
  width: 100vw;
  height: 100vh;
}

.cardPosition {
  display: flex;
  justify-content: center;
  align-items: center;
}